.workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.workspace-container {
  padding: 0 32px;
  background-color: var(--color-content-background-tertiary);
  height: 100%;
}

.workspace-title {
  margin-bottom: 20px;
}

.action-bar {
  border-bottom: 1px solid lightgrey;
}

.title {
  margin-bottom: 0;
}

.status {
  padding-left: 1rem;
  text-align: left;
}

.row {
  padding-top: 0.2rem;
  font-size: 0.9rem;
  height: 2.6rem;
  border-bottom: 1px solid #f4f3f2;
}

.status-progress {
  padding: 0 2rem;
  height: 18px;
  background-color: var(--color-content-background-tertiary);
}

.status-padding {
  margin-top: 1rem;
}

.ms-DetailsHeader {
  padding-top: 0;
}

.no-data {
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #f4f3f2;
}
