body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.workspace {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.workspace-title {
  margin-top: 1rem;
  margin-left: 2rem;
  flex-shrink: 0;
  padding-right: 2rem;
}

.workspace-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 2rem;
}

.workspace-narrow {
  margin-left: 2rem;
  max-width: 600px;
  padding-right: 2rem;
}

.workspace-table {
  padding-left: 1.4rem;
}

h1 {
  font-weight: 600 !important;
  font-size: 1.7rem !important;
}