.workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.workspace-container {
  padding: 0 32px;
  background-color: var(--color-content-background-tertiary);
  height: 100%;
}

.action-bar {
  border-bottom: 1px solid lightgrey;
}

.title {
  margin-bottom: 0;
}

.device-count {
  > span:nth-child(1) {
    font-weight: 1000;
    margin-right: 0.25rem;
  }
}

.field-group:not(:first-child) {
  margin-top: 3rem;
}

.loading {
  opacity: 0.2;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0 !important;
}

.progress-indicator {
  height: 16px;
  background-color: var(--color-content-background-tertiary);
}
